<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7z.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lib7z 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lib7z.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>m7zTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BA3942D1CA051AE001FD2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BA394371CA051AE001FD2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11C83EA1CF230AC00AF9EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A95BD31CF4F43800AB00C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
